.content {
  display: flex;
  gap: 2rem;
}

.content div {
  flex: 1;
}

h1 {
  font-size: 2.8rem;
  color: var(--primary-color);
  margin-top: 120px;
}

h3 {
  color: grey;
}

h2 {
  color: var(--black);
  margin-bottom: 0;
}

p {
  font-weight: bold;
  color: var(--black);
  margin-top: 0;
  margin-left: 2.5rem;
}

img {
  max-width: 100%;
}
