<div class="about container">
  <div>
    <h1>Who Are We?</h1>
    <p>
      We're a team of creative educators and tech enthusiasts, united by our
      passion for transforming online learning. Every course we build is crafted
      with care, innovation, and a dash of fun!
    </p>
    <h3>Our Mission</h3>
    <p>
      To make top-notch education accessible to everyone without breaking the
      bank. We believe learning should be inspiring, affordable, and tailored to
      you.
    </p>
    <h3>Why Choose Us?</h3>
    <p>
      We go the extra mile for our students. From interactive lessons to
      real-world projects, our commitment to your success is what makes us stand
      out. Your goals are our goals!
    </p>
    <h2>
      Ready to start your journey?
      <span routerLink="/contact">Contact Us!</span>
    </h2>
  </div>
  <div>
    <img src="assets/images/about.png" alt="about us" />
  </div>
</div>
