<!-- Main Content Area -->
<div class="col-12">
  <div class="p-4 bg-light rounded-4 shadow-sm">
    <form class="course-form">
      <!-- Course Title and Thumbnail -->
      <div class="mb-4">
        <h4 class="mb-3 text-secondary fw-bold">Add New Course</h4>
        <div class="row g-3">
          <div class="col-md-6">
            <div class="d-flex w-100 justify-content-between">
              <label for="courseTitle" class="form-label fw-semibold"
                >Course Title</label
              >
            </div>
            <input
              id="courseTitle"
              type="text"
              class="form-control"
              placeholder="Enter course title"
              [(ngModel)]="ReactCourse[0].title"
              name="coursetitle"
              #coursetitle
            />
          </div>

          <div class="col-md-3">
            <label for="courseThumbnail" class="form-label fw-semibold"
              >Thumbnail</label
            >
            <input id="courseThumbnail" type="file" class="form-control" />
          </div>
          <div class="col-3">
            <label for="courseThumbnail" class="form-label fw-semibold"
              >Course Status</label
            >
            <div class="select-box">
              <select name="" id="">
                <option value="pending">pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="unConfirmed">unConfirmed</option>
                <option value="unConfirmed">unConfirmed</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <label for="courseTitle" class="form-label fw-semibold"
              >Course Description</label
            >
            <input
              id="Description"
              type="text"
              class="form-control"
              placeholder="Enter course Description"
              [(ngModel)]="ReactCourse[0].short_description"
              name="Description"
              #Description
            />
          </div>
        </div>
      </div>

      <!-- Module Section -->
      @for (item of ReactCourse; track $index) {
      <div class="module-section mt-4">
        <div class="row g-3 align-items-center">
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="Module Title"
              #ModuleName
              name="ModuleName"
            />
          </div>
          <div class="col-md-4 text-end">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary rounded-5 px-3"
              (click)="addModule(ModuleName.value)"
            >
              + Add Module
            </button>
          </div>
        </div>

        @for (item of ReactCourse; track $index) {
        <div class="row g-3">
          @for (item of item.Module; track $index) {
          <div class="col-md-12 mt-4 p-4 border rounded-4">
            <h6 class="fw-bold text-secondary">{{ item.title }}</h6>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger rounded-5 px-3"
              (click)="deleteModule($index)"
            >
              🗑 Delete
            </button>

            <div class="module-section m-5 p-4 border rounded-4">
              <div
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <h6 class="fw-bold text-secondary">Add Lesson</h6>
              </div>

              <div class="row g-3">
                <div class="col-md-12 d-flex gap-3 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Lesson Title"
                    #LessonName
                    name="LessonName"
                  />
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary rounded-5 px-3"
                    (click)="addLesson(item, LessonName.value)"
                  >
                    + Add Lesson
                  </button>
                </div>
                <div class="col-md-12">
                  @for (item of item.lesson; track $index) {

                  <button class="btn btn-lesson form-control my-2">
                    <h6 class="fw-bold text-secondary">
                      {{ item.title }}
                    </h6>
                  </button>

                  }
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>
      }
    </form>
  </div>
  <div class="row">
    <div class="col-md-6 text-end">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary rounded-5 px-5 py-2"
        (click)="saveCourse(coursetitle.value, Description.value)"
      >
        Save
      </button>
    </div>
  </div>
</div>
