.reocmemdeded-courses {
  background-color: #ecf5ff;
}
.row-courses .col-12 .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: black !important;
}
