<header class="header">
  <section class="flex">
    <a class="logo" routerLink="/home"><img src="assets/images/logo.png" alt="Logo" class="logo"/></a>
    <a routerLink="/login" class="Account-btn">Account</a>
    <nav class="navbar">
      <button class="search" routerLink="/search"><i class="fa-duotone fa-solid fa-magnifying-glass"></i>Type <kbd class="search/">/</kbd> to search...</button>
      <a routerLink="/home">Home</a>
      <a routerLink="/courses">Courses</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Get in Touch</a>
    </nav>
  </section>
</header>
