.bg-draw {
  background-color: #ced5fa;
}
.bg-draw i {
  color: #6173f1;
}
.bg-Business {
  background-color: #b3efea;
}
.bg-Business i {
  color: #2bc1b4;
}
.bg-Marketing {
  background-color: #fcddb4;
}
.bg-Marketing i {
  color: #f5a623;
}
.bg-Photography {
  background-color: #ffd6e8;
}
.bg-Photography i {
  color: #ff6f9c;
}
.card-shadw {
  border: 0;
  box-shadow: 0px 18px 19px 4px rgba(0, 0, 0, 0.1);
}
.bg-Acting {
  background-color: #bebec6;
}
