<div class="contianer">
  <app-list-of-courses></app-list-of-courses>
  <div class="row py-5 gy-5">
    <div class="col-12 py-5">
      <h4>Choice favourite course from top category</h4>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-success d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-desktop fs-2 text-white"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Development</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-draw d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-paintbrush fs-2"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Design</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-Business d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-briefcase fs-2"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Business</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-Marketing d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-chart-simple fs-2"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Marketing</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-Photography d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-camera fs-2"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Photography</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-shadw card text-center mb-3" style="width: 18rem">
        <div class="card-body p-0">
          <div
            class="w-25 bg-Acting d-flex justify-content-center align-items-center py-4 mx-auto"
          >
            <i class="fa-solid fa-film fs-2"></i>
          </div>
          <div class="p-3">
            <h5 class="card-title">Acting</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
